body {
    background-image: url(https://th.bing.com/th/id/R.42bfdacf455e83e97d4b1faa86aef0d7?rik=t91TxwajbPPWEQ&riu=http%3a%2f%2f4.bp.blogspot.com%2f-j_nevHDBSvc%2fVO-kUW7kCZI%2fAAAAAAAAZhI%2fwKa8QUef538%2fs1600%2fparede-branca.jpg&ehk=hlj%2fes4RRDxHQM0G8oQk%2bL02pI9T0t7UF7F%2fb02vuzk%3d&risl=&pid=ImgRaw&r=0);
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin: 5px 20px;
}

header {
    background-color: #222;
    color: #fff;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

.container {
    padding: 20px;
    max-width: 800px;
    width: 90%;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.logo img {
    width: 150px;
    height: auto;
}

.info, .alunos {
    text-align: left;
    margin-top: 15px;
    font-size: 16px;
    color: #555;
}

section {
    border-radius: 8px;
    padding: 50px 20px;
    max-width: 1200px;
    width: 90%;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.imagem img {
    width: 50%;
    max-width: 500px;
    border-radius: 15%;
    margin: 20px 0;
}

.alunos-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.aluno {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 180px;
    text-align: center;
}

.aluno img {
    width: 70%;
    border-radius: 50%;
    margin-bottom: 10px;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
