body {
    background-image: url(https://th.bing.com/th/id/R.42bfdacf455e83e97d4b1faa86aef0d7?rik=t91TxwajbPPWEQ&riu=http%3a%2f%2f4.bp.blogspot.com%2f-j_nevHDBSvc%2fVO-kUW7kCZI%2fAAAAAAAAZhI%2fwKa8QUef538%2fs1600%2fparede-branca.jpg&ehk=hlj%2fes4RRDxHQM0G8oQk%2bL02pI9T0t7UF7F%2fb02vuzk%3d&risl=&pid=ImgRaw&r=0);
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

#musica {
    color: #000000;
    padding: 100px 0;
    text-align: center;
}

.musica-text img {
    width: 20%;
    border-radius: 15%;
}

.musica-text h2 {
    font-size: 2.5em;
}

.musica-text p {
    font-size: 1.2em;
    margin: 5px 60px 40px 60px;
}

section {
    padding: 50px 20px;
    text-align: center;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.alunos-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.aluno {
    background-color: #d8d8d8;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

.aluno img {
    width: 50%;
    border-radius: 50%;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}
